<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hr">
  <head>
    <title th:remove="all"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
      * {
        margin: 0 auto;
      }
      body {
        width: 60vw;
      }
      a {
        color: white;
      }
      .button {
        display: inline-block;
        font-weight: bold;
        background-color: #01a4d5;
        padding: 10px 15px;
        margin: 10px 15px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <article style="font-family: Bahnschrift, sans-serif; width: 100%;">
      <div style="background-color: #004a61; color: white; padding: 1rem; border-radius: 10px;">
        <h2 class="alert-heading" style="text-align: center" th:text="'Successful registration'"></h2>
        <br>
        <div style="text-align: center">
          <h3 style="margin-bottom: 0" th:text="
          'Hi ' + ${user.getUsername()} + ', thanks for registering!'"></h3>
          <br/>
          <p th:text="'To finish activating your account'"></p>
          <a class="button" th:href="${activationURL}" th:text="'Click here'"></a>
          <br/>
          <p style="margin: 0.5rem 0" th:text="'Or'"></p>
          <a th:href="${activationURL}" th:text="'Use this URL to activate your account'"></a>
        </div>
      </div>
    </article>
  </body>
</html>
